body {
    background-color: #FAFAFA;
    font-family: Poppins, sans-serif;
    color: #212121;
}

.Layout {
    margin: 0px 100px;
}

.Header {

    &__logo {
        height: 50px;
        margin: 25px 0px;
    }
}

.Landing {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    &__left {
        max-width: 50%;
        margin-right: 50px;

        &--heading {
            font-family: Abril Fatface, serif;
            font-size: 76px;
            font-weight: 400;
            color: #101010;
            margin-bottom: 50px;
            letter-spacing: 0.01em;
            line-height: 1.2em;
    
            &--highlight {
                color: #1E3EEA;
            }
        }

        &--subheading {
            font-weight: 300;
            font-size: 18px;
            color: #666666;
            margin-bottom: 15px;
        }

        &--link {
            max-width: 90%;
            display: block;
            font-size: 20px;
            font-weight: 500;
            background-color: #1E3EEA;
            color: #ffffff;
            text-align: center;
            padding: 1em;
            border-radius: 100px;
            text-decoration: none;
            box-shadow: 10px 10px 15px rgba(30, 62, 234, 0.1);
            box-sizing: border-box;
            border: 5px solid transparent;
            transition: 200ms ease;

            &:first-of-type {
                margin-bottom: 25px;
            }

            &:hover, &:focus {
                border-color: #1E3EEA;
                color: #1E3EEA;
                background-color: #ffffff;
                box-shadow: 10px 10px 15px rgba(30, 62, 234, 0.2);
            }
        }
    }
}

.Blob {
    width: 650px;
    height: auto;
}

.Blocks {
    &__heading {
        font-size: 32px;
        font-weight: 700;
        color: #1E3EEA;
        margin-bottom: 25px;
    }
}

.Block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background-color: #FEFEFE;
    border: 1px solid #F3F3F3;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 5px 40px 50px rgba(82, 82, 82, 0.05);
    margin-bottom: 100px;

    &:last-of-type {
        margin: 0px;
    }

    &__img {
        height: 100%;
        display: inline-block;
        border-radius: 30px;
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
        color: #212121;
        display: inline-block;
        width: 50%;
        margin-left: 50px;
        line-height: 30px;
    }

    &:nth-of-type(even) {
        justify-content: flex-end;

        .Block__img {
            order: 2;
        }

        .Block__text {
            margin-left: 0px;
            margin-right: 50px;
        }
    }
}

.About {
    margin-top: 100px;

    &__heading {
        font-size: 32px;
        font-weight: 700;
        color: #1E3EEA;
        margin-bottom: 50px;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &--img {
            height: 300px;
            border-radius: 100%;
            border: 10px solid #1E3EEA;
            box-shadow: 10px 25px 25px rgba(30, 62, 234, 0.1);
        }

        &--right {
            max-width: 50%;
            margin: auto;
        }

        &--text {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }

        &--images {
            display: flex;
            align-items: center;
            margin-top: 50px;

            &--img {
                width: 30%;
                margin-right: 25px;
                
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}

.Testimonials {
    margin-top: 100px;

    &__heading {
        font-size: 32px;
        font-weight: 700;
        color: #1E3EEA;
        margin-bottom: 50px;
    }
}

// Swiper
.slider-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    border: 1px solid #F3F3F3;
    box-shadow: 5px 10px 15px rgba(103, 103, 103, 0.05);
    // height: 200px !important;
    border-radius: 25px;
    box-sizing: border-box;
}

.slider-slide-text {
    padding: 25px;
    line-height: 1.3em;
}

.slider, .slider-frame {
    padding-bottom: 50px !important;
}

.Details {
    margin-top: 100px;

    &__heading {
        font-size: 32px;
        font-weight: 700;
        color: #1E3EEA;
        margin-bottom: 25px;
        text-align: center;
    }

    &__subheading {
        font-size: 24px;
        font-weight: 600;
        color: #101010;
        margin-bottom: 15px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__left {
        display: inline-block;
        flex-basis: 100%;
        flex: 1;
        padding-right: 25px;
    }

    &__right {
        display: inline-block;
        flex-basis: 100%;
        flex: 1;
        padding-left: 25px;
        border-left: 1px solid #E9E9E9;
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 50px;

        &:last-of-type {
            margin: 0px;
        }
    }
}

.Contact {
    margin-top: 100px;
    padding-bottom: 100px;

    &__heading {
        font-size: 32px;
        font-weight: 700;
        color: #1E3EEA;
        margin-bottom: 25px;
    }

    &__subheading {
        font-size: 24px;
        font-weight: 600;
        color: #101010;
        margin-bottom: 15px;
    }

    &__link {
        max-width: 80%;
        display: block;
        font-size: 20px;
        font-weight: 500;
        background-color: #1E3EEA;
        color: #ffffff;
        text-align: center;
        padding: 1em;
        border-radius: 100px;
        text-decoration: none;
        box-shadow: 10px 10px 15px rgba(30, 62, 234, 0.1);
        box-sizing: border-box;
        border: 5px solid transparent;
        transition: 200ms ease;

        &:hover, &:focus {
            border-color: #1E3EEA;
            color: #1E3EEA;
            background-color: #ffffff;
            box-shadow: 10px 10px 15px rgba(30, 62, 234, 0.2);
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__column {
        display: inline-block;
        flex-basis: 100%;
        flex: 1;

        &:first-of-type {
            padding-right: 25px;
        }

        &:last-of-type {
            padding-left: 25px;
        }
    }
}

// 404
.NotFound {

    &__heading {
        font-weight: 700;
        font-size: 42px;
        color: #1E3EEA;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 25px;
    }

    &__text {
        margin-left: 50px;
    }
}

// Media Queries

@media(max-width: 1330px) {
    .Layout {
        margin: 0px 25px;
    }

    .Landing {

        &__left {
            margin-right: 25px;

            &--heading {
                font-size: 42px;
            }

            &--link {
                font-size: 18px;
                max-width: 100%;
            }
        }
    }
    .Blob {
        width: 450px;
    }

    .Contact {
        &__link {
            max-width: 100%;
        }
    }
}

@media(max-width: 950px) {
    .Block {
        flex-direction: column;
        height: auto;

        &__img {
            width: 100%;
            height: auto;


        }

        &__text {
            width: 100%;
            margin-left: 0px;
            margin-top: 50px;
        }

        &:nth-of-type(even) {
            justify-content: flex-start;
    
            .Block__img {
                order: 0;
            }
    
            .Block__text {
                margin-right: 0px;
            }
        }
    }
}

@media(max-width: 860px) {
    .Landing {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__left {
            max-width: 75%;

            &--heading {
                margin-bottom: 25px;
            }

            &--link {
                margin-bottom: 15px;
            }
        }
    }
}

@media(max-width: 770px) {
    .About__container {
        flex-direction: column;

        &--right {
            margin-top: 50px;
            max-width: 75%;
        }

        &--images {
            flex-direction: column;
            
            &--img {
                width: 50%;
                margin-right: 0px;
                margin-bottom: 25px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media(max-width: 720px) {
    .Contact {
        &__container {
            flex-direction: column;
        }

        &__column {
            width: 100%;

            &:first-of-type {
                margin-bottom: 25px;
            }

            &:last-of-type {
                padding-left: 0px;
            }
        }
    }
}

@media(max-width: 520px) {
    .Landing {
        &__left {
            max-width: 100%;
        }
    }

    .About__container {
        &--text {
            max-width: 100%;
        }
    }

    .Block {
        margin-bottom: 50px;
    }

    .Details {

        &__heading {
            text-align: left;
        }

        &__left {
            padding-right: 0px;
            margin-bottom: 100px;
        }

        &__right {
            padding-left: 0px;
            border: none;
        }

        &__container {
            flex-direction: column;
        }

        &__text {
            margin-bottom: 25px;
        }
    }
}

@media(max-width: 450px) {
    .Blob {
        width: 320px;
    }

    .Landing {
        &__left {
            &--link {
                font-size: 14px;
                padding: 1em 0.5em;

                &:first-of-type {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .Contact {
        &__subheading {
            margin-bottom: 10px;
        }

        &__link {
            font-size: 14px;
            padding: 1em 0.5em;
            width: 100%;
        }
    }
}

@media(max-width: 320px) {
    .Layout {
        max-width: 95%;
    }

    .Landing {
        &__left {
            &--heading {
                font-size: 32px;
            }
        }
    }

    .Block {
        padding: 15px;

        &__text {
            font-size: 16px;
            line-height: 24px;
            margin-top: 15px;
        }
    }

    .About {
        &__container {
            &--img {
                width: 250px;
                height: auto;
            }

            &--text {
                font-size: 16px;
                margin-top: 25px;
            }

            &--images {
                &--img {
                    width: 100%;
                }
            }
        }
    }

    .Details {
        &__left {
            margin-bottom: 25px;
        }

        &__text {
            font-size: 16px;
        }
    }
}